# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Flask
instance/
.webassets-cache

# Pytest
.pytest_cache/

# Coverage
.coverage
coverage.xml
htmlcov/

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env
